streamlit
openai==1.8.0
python-dotenv
diffusers==0.10.2
transformers 
scipy 
ftfy 
accelerate
streamlit_option_menu==0.3.2
nltk==3.8.1
spacy==3.7.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
streamlit-lottie
